/* body {
    background-image: url("../../images/books.jpg");
    background-size: cover;
    background-attachment: fixed;
} */

.navbar-brand {
    float: left;
}

#appName {
    color: black;
    float: left;
}

#appName,
#searchBtn,
#savedBtn {
    display: inline;
    border: none;
    background-color: transparent;
}

#savedBtn {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
}

#searchBtn {
    margin-left: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
}